Source: bbb.io-gateware-my-custom-fpga-design
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.1

Package: bbb.io-gateware-my-custom-fpga-design
Architecture: all
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
 , bbb.io-gateware
 , mtd-utils
Description: bbb.io-gateware-my-custom-fpga-design
 bbb.io-gateware-my-custom-fpga-design
