// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2023 Microchip Technology Inc */

/dts-v1/;
/plugin/;

&{/chosen} {
	overlays {
		ROBOTICS-CAPE-GATEWARE = &cape_pwm0;
	};
};

&{/} {

	fabric-bus@40000000 {

		cape_pwm0: pwm@41400000 {
			compatible = "microchip,corepwm-rtl-v4";
			reg = <0x0 0x41400000 0x0 0xF0>;
			microchip,sync-update-mask = /bits/ 32 <0>;
			#pwm-cells = <3>;
            status = "okay";
			clocks = <&fabric_clk3>;
		};

		cape_pwm1: pwm@41500000 {
			compatible = "microchip,corepwm-rtl-v4";
			reg = <0x0 0x41500000 0x0 0xF0>;
			microchip,sync-update-mask = /bits/ 32 <0>;
			#pwm-cells = <3>;
            status = "okay";
			clocks = <&fabric_clk3>;
		};
	};
};

